/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 .rotate-90 {
   transform: rotate(90deg);
 }

/* Mapbox popup styling */
.rounded-lg .mapboxgl-popup-content {
  border-radius: 12px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
}
